<h1>Nouveau livre</h1>
<%# <%= form_with model: @book do |f| %>
<%# <%= f.label :title %>
<%# <%= f.text_field :title %>
<%# <%= f.label :author %>
<%# <%= f.text_field :author %>
<%# <%= f.label :description %>
<%# <%= f.text_field :description %>
<%# <%= f.submit %>
<%# <% end %>
<%= simple_form_for(@book) do |f| %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>
